# HaHow

In [6]:
import urllib.request as req
import json
import pandas as pd

## courselist

In [22]:
courses = pd.DataFrame(columns = ['c_id', 'c_name', 'w_id', 'price', 'total_time', 't_id', 'start_time', 'type', 'buyers', 'raisefunding', 'cg_id'])
teachers = pd.DataFrame(columns = ['t_id', 't_name'])
website = pd.DataFrame(columns = ['w_id', 'website_name'])
categories = pd.DataFrame(columns = ['cg_id', 'cg_name'])

for i in range(29):
    url = "https://api.hahow.in/api/courses?limit=24&page=" + str(i)
    request = req.Request(url, headers = {
        "Content-Type":"application/json; charset=utf-8",
        "User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.81 Safari/537.36"
    })
    with req.urlopen(request) as response:
        result = response.read().decode("utf-8")
    result = json.loads(result)
    for j in range(len(result['data'])):
        #courses
        data_courses = {'c_id':result['data'][j]['_id'], 'c_name':result['data'][j]['title'], 'w_id':result['data'][j]['_id']
                , 'price':result['data'][j]['price']
                , 't_id':result['data'][j]['owner']['_id'], 'buyers':result['data'][j]['numSoldTickets'], 'raisefunding':result['data'][j]['status']}
        courses = courses.append(data_courses, ignore_index = True)
        #teahcers
        if result['data'][j]['owner']['_id'] not in teachers['t_id']:
            data_teachers = {'t_id':result['data'][j]['owner']['_id'], 't_name':result['data'][j]['owner']['name']}
            teachers = teachers.append(data_teachers, ignore_index = True)
        #website
        data_website = {'w_id':result['data'][j]['_id'], 'website_name':"https://hahow.in/courses/" + result['data'][j]['_id']}
        website = website.append(data_website, ignore_index = True)
courses

,c_id,c_name,w_id,price,total_time,t_id,start_time,type,buyers,raisefunding,cg_id
0,6107cd6c3cc7a0000689c1c6,Knitting好好玩！自己織圍巾、披肩、羊毛帽,6107cd6c3cc7a0000689c1c6,2480,NaN,60ee598667a1d3000629cdf2,NaN,NaN,4,INCUBATING,NaN
1,61666a458fc5c300073e6f60,放下酒譜！跟著 Mars 飛向浩瀚無垠調酒宇宙,61666a458fc5c300073e6f60,3980,NaN,61551818a51e9e0007011eaa,NaN,NaN,4,INCUBATING,NaN
2,611dbe96be4b2d000699b345,籌碼入門手冊：數據拆解主力思維,611dbe96be4b2d000699b345,3600,NaN,5f8e3a347698f0649cf5da97,NaN,NaN,2,INCUBATING,NaN
3,5fe6fe2c5a5ba942b377c5ec,人物專訪怎麼寫？訪綱、採訪、寫作心法,5fe6fe2c5a5ba942b377c5ec,2280,NaN,5fe6fdff5a5ba9064377c518,NaN,NaN,14,INCUBATING,NaN
4,60ed88d6b89d2300069ee963,新手開店0到1！餐飲創業成功必讀攻略術！,60ed88d6b89d2300069ee963,3980,NaN,60520446e928c7d51a1958d8,NaN,NaN,32,INCUBATING,NaN
...,...,...,...,...,...,...,...,...,...,...,...
683,551171a938239d1000577864,教你用免費軟體 混音組曲當 DJ！,551171a938239d1000577864,1000,NaN,54f5c694e977de0a00d46a06,NaN,NaN,407,PUBLISHED,NaN
684,54f1268f4ec3c809002e4a29,不一樣的西洋美術史,54f1268f4ec3c809002e4a29,588,NaN,54de6f88dbc18009004c1605,NaN,NaN,305,PUBLISHED,NaN
685,54d7148a2246e60a009ec588,Line 的貼圖自己動手做！,54d7148a2246e60a009ec588,185,NaN,54d713532246e60a009ec586,NaN,NaN,286,PUBLISHED,NaN
686,54d5d9952246e60a009ec571,數位拼貼的手感,54d5d9952246e60a009ec571,300,NaN,54cb5c2ea784960a00948678,NaN,NaN,119,PUBLISHED,NaN
687,54d5a117065a7e0e00725ac0,幾何圖形分割 X 色塊組合,54d5a117065a7e0e00725ac0,100,NaN,54d5a079065a7e0e00725abe,NaN,NaN,469,PUBLISHED,NaN

In [15]:
teachers

                         t_id             t_name
0    60ee598667a1d3000629cdf2          May｜就是愛編織
1    61551818a51e9e0007011eaa        Mars x 三十創意
2    5f8e3a347698f0649cf5da97                豹投資
3    5fe6fdff5a5ba9064377c518      陳芷儀（耳草人內容工作室）
4    60520446e928c7d51a1958d8            617行銷筆記
..                        ...                ...
683  54f5c694e977de0a00d46a06            Ken Lin
684  54de6f88dbc18009004c1605                洪筱筑
685  54d713532246e60a009ec586           Danny Wu
686  54cb5c2ea784960a00948678  Li -Ying, Wen 溫力穎
687  54d5a079065a7e0e00725abe            Jafy Su

[688 rows x 2 columns]

In [18]:
website

,w_id,website_name
0,6107cd6c3cc7a0000689c1c6,https://hahow.in/courses/6107cd6c3cc7a0000689c1c6
1,61666a458fc5c300073e6f60,https://hahow.in/courses/61666a458fc5c300073e6f60
2,611dbe96be4b2d000699b345,https://hahow.in/courses/611dbe96be4b2d000699b345
3,5fe6fe2c5a5ba942b377c5ec,https://hahow.in/courses/5fe6fe2c5a5ba942b377c5ec
4,60ed88d6b89d2300069ee963,https://hahow.in/courses/60ed88d6b89d2300069ee963
...,...,...
683,551171a938239d1000577864,https://hahow.in/courses/551171a938239d1000577864
684,54f1268f4ec3c809002e4a29,https://hahow.in/courses/54f1268f4ec3c809002e4a29
685,54d7148a2246e60a009ec588,https://hahow.in/courses/54d7148a2246e60a009ec588
686,54d5d9952246e60a009ec571,https://hahow.in/courses/54d5d9952246e60a009ec571
687,54d5a117065a7e0e00725ac0,https://hahow.in/courses/54d5a117065a7e0e00725ac0

In [29]:
url = "https://api.hahow.in/api/groups"
request = req.Request(url, headers = {
        "Content-Type":"application/json; charset=utf-8",
        "User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.81 Safari/537.36"
    })
with req.urlopen(request) as response:
    result = response.read().decode("utf-8")
result = json.loads(result)

for i in range(len(result)):
    data_categories = {'cg_id':result[i]['_id'], 'cg_name':result[i]['title']}
    categories = categories.append(data_categories, ignore_index = True)
categories

                       cg_id cg_name
0   5c09dc811f7e290020b4bd26      音樂
1   5c09dda01f7e290020b4bd53      語言
2   5c09e75c1f7e290020b4bee1      攝影
3   5c09e9af1f7e290020b4bf33      藝術
4   5c09fc8f1f7e290020b4c168      設計
5   5c0a04671f7e290020b4c282      人文
6   5c0a04ab1f7e290020b4c28b      行銷
7   5c0a05491f7e290020b4c294      程式
8   5c0a106f1f7e290020b4c486    投資理財
9   5c0a15661f7e290020b4c571    職場技能
10  5c0a230e1f7e290020b4c709      手作
11  5c0a29d31f7e290020b4c892    生活品味

## 單獨課程

In [21]:
url = "https://api.hahow.in/api/courses/611dbe96be4b2d000699b345/purchasePlans"
request = req.Request(url, headers = {
        "Content-Type":"application/json; charset=utf-8",
        "User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.81 Safari/537.36"
    })
with req.urlopen(request) as response:
    result = response.read().decode("utf-8")
result = json.loads(result)
print(result)

[{'required': {'productGroups': []}, 'type': 'COURSE_INCUBATING', 'orderCount': 2, 'soldCount': 2, 'deprecated': False, 'allowCoupon': True, '_id': '6178cec85a9019000689b43d', 'course': {'contentRating': {'brief': 'LEVEL_0', 'content': 'LEVEL_0'}, 'price': 3600, 'preOrderedPrice': 2580, '_id': '611dbe96be4b2d000699b345', 'incubateTime': '2021-10-27T04:00:08.154Z', 'proposalDueTime': '2021-11-25T16:00:00.000Z', 'title': '籌碼入門手冊：數據拆解主力思維', 'coverImage': {'_id': '614ad1c2deb4b100078465fb', 'url': 'https://images.api.hahow.in/images/614ad1c2deb4b100078465fb'}}, 'price': 2580, 'category': 'COURSE', 'isPromotionPlan': False, 'currencyCode': 'TWD', 'basePricingInfo': {'price': 2580, 'currencyCode': 'TWD'}}]